body {
    background: hsl(257, 18%, 27%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  canvas {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2%;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }
  
  img {
    height: 60px;
  }
#muteButton {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-image: url(img/mute.png);
    background-size: cover;
    cursor: pointer;
  }
  .refresh-button {
    position: fixed;
    top: 10px;
    right: 80px;
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
  }